
{% comment %}
	Desktop
{% endcomment %}

<div class="desktop-navbar nav-bp-down-display-none">


	{% if settings.top_banner_enable %}
	<div class="desktop-navbar-banner" style="color:{{ settings.top_banner_text_color }}; background-color:{{ settings.top_banner_bkg_color}};">
		{{ settings.top_banner_desktop_text }}
	</div>
	{% endif %}



	<div class="desktop-navbar-nav clearfix">

		{% comment %}
			Left
		{% endcomment %}

		<ul class="desktop-navbar-nav-list-left desktop-navbar-nav-list nav-list-level-1 clearfix">

            {% for link in linklists.main-menu.links %}

            	{% assign sub_linklist_handle = link.title | handle %}

                {% if linklists[sub_linklist_handle] and linklists[sub_linklist_handle].links.size > 0 %}

                    <li class="nav-list-level-1-item desktop-navbar-nav-dropdown dropdown js-dropdown-hover">
                        <a href="{{ link.url }}" class="desktop-navbar-nav-pillar desktop-navbar-nav-dropdown-toggle dropdown-toggle js-dropdown-click display-block"><span>{{ link.title }}</span></a>
                        <ul class="nav-list-level-2 desktop-navbar-nav-dropdown-menu dropdown-menu">
                            {% for sub_link in linklists[sub_linklist_handle].links %}
  								<li class="nav-list-level-2-item"><a href="{{ sub_link.url }}" class="display-block"><span>{{ sub_link.title }}</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>

                {% else %}

                    <li class="nav-list-level-1-item"><a href="{{ link.url }}" class="desktop-navbar-nav-pillar display-block"><span>{{ link.title }}</span></a></li>

                {% endif %}

            {% endfor %}

		</ul>


		{% comment %}
			Right
		{% endcomment %}

		<ul class="desktop-navbar-nav-list-right desktop-navbar-nav-list nav-list-level-1 clearfix">

            <li class="nav-list-level-1-item">
                <form action="/search" role="search" class="desktop-navbar-search desktop-navbar-nav-pillar">
                    <input type="hidden" name="type" value="product">
                    <input type="text" autocomplete="off" name="q" class="desktop-navbar-search-input">
                    <input type="submit" value="Search" class="desktop-navbar-search-submit">
                </form>
            </li>

			{% if template != 'cart' %}

			<li class="nav-list-level-1-item"">
				<div class="desktop-mini-cart-trigger desktop-navbar-nav-pillar js-body-toggle-class" data-body-class="mini-cart-open">
					
					<span class="desktop-mini-cart-text">Bag</span>
					(<span class="desktop-mini-cart-count" data-cart-view="data-cart-view" rv-text="cart.item_count"></span>)
					
				</div>
			</li>

			{% endif %}

		</ul>


		{% comment %}
			Logo
		{% endcomment %}


		<a href="/" class="desktop-navbar-nav-logo desktop-navbar-nav-pillar"></a>



	</div>



</div>










{% comment %}
	Mobile
{% endcomment %}


<div class="mobile-navbar nav-bp-up-display-none">

	{% if settings.top_banner_enable %}
	<div class="mobile-navbar-banner" style="color:{{ settings.top_banner_text_color }}; background-color:{{ settings.top_banner_bkg_color}};">
		{{ settings.top_banner_mobile_text }}
	</div>
	{% endif %}


	<div class="mobile-navbar-header clearfix">

		<div class="mobile-navbar-nav-pillar mobile-nav-trigger js-body-add-class" data-body-class="mobile-nav-open"></div>

		{% unless template == 'cart' %}

		<div class="mobile-navbar-nav-pillar mobile-mini-cart-switch js-body-toggle-class" data-body-class="mini-cart-open" data-cart-view="data-cart-view" rv-text="cart.item_count"></div>

		{% endunless %}


		{% comment %}
			Logo
		{% endcomment %}

		<a href="/" class="mobile-navbar-nav-logo mobile-navbar-nav-pillar"></a>

	</div>


	<div class="mobile-navbar-nav">

		<div class="mobile-navbar-nav-header clearfix">
			<div class="mobile-navbar-nav-pillar mobile-nav-close js-body-remove-class" data-body-class="mobile-nav-open"></div>
		</div>


		<ul class="mobile-navbar-nav-list">

        {% for link in linklists.main-menu.links %}

        	{% assign sub_linklist_handle = link.title | handle %}

            {% if linklists[sub_linklist_handle] and linklists[sub_linklist_handle].links.size > 0 %}

                <li class="nav-list-level-1-item">
                    <a href="{{ link.url }}" class="display-block"><span>{{ link.title }}</span></a>
                    <ul class="">
                        {% for sub_link in linklists[sub_linklist_handle].links %}
								<li class="nav-list-level-2-item"><a href="{{ sub_link.url }}" class="display-block"><span>{{ sub_link.title }}</span></a></li>
                        {% endfor %}
                    </ul>
                </li>

            {% else %}

                <li class="nav-list-level-1-item"><a href="{{ link.url }}" class="display-block"><span>{{ link.title }}</span></a></li>

            {% endif %}

        {% endfor %}

		</ul>



	</div>



</div>









