

<div class="product-card">

	<a href="{{ product.url | within: collection }}">

	<div class="product-card-image-wrapper">

		{% if has_color_option %}

			{% assign color_name = "" %}

			{% for image in product.images %}

			    {% assign alt_handle = image.alt | downcase %}
			    
			    {% if alt_handle != color_name and alt_handle != color_swatch_alt_handle %}

				{% assign next_index = forloop.index0 | plus: 1 %}
			    {% assign next_alt_handle = product.images[next_index].alt | downcase %}
			    {% assign has_swap_image = false %}
			    {% if next_alt_handle == alt_handle %}
			    	{% assign has_swap_image = true %}	
			    {% endif %}
			    

				<img src="{{ image.src | img_url: product_card_image_size, format: 'pjpg' }}" alt="{{ alt_handle }}"
				class="product-card-image{% if has_swap_image %} js-product-image-swap{% endif %}{% if alt_handle == default_color %} active{% endif %}"
				data-alt-handle="{{ alt_handle }}"
				{% if has_swap_image %}data-swap-image-src="{{ product.images[next_index] | product_img_url: product_card_image_size, format: 'pjpg' }}"{% endif %}
				>

		  		{% assign color_name = alt_handle %}

			  {% endif %}

			{% endfor %}

		{% else %}

			{% assign images_length = product.images | size %}

			<img src="{{ product.images[0] | img_url: product_card_image_size, format: 'pjpg' }}" class="active product-card-image{% if images_length > 1 %} js-product-image-swap{% endif %}" {% if images_length > 1 %}data-swap-image-src="{{ product.images[1] | product_img_url: product_card_image_size, format: 'pjpg' }}{% endif %}">

		{% endif %}





	</div>
	</a>

	<div class="product-card-details">

		<div class="product-card-title">{{ product.title }}</div>

		<div class="product-card-price">{{ product_card_price }}</div>

		<div class="product-options product-card-options">

		{% for option in product.options_with_values %}

			{% assign is_color_option = false %}
			{% assign option_name_handle = option.name | handle %}
	        {% if option_name_handle == color_option_name_handle %}
	            {% assign is_color_option = true %}
	        {% endif %}

	        {% if is_color_option %}

			<div class="product-option product-card-option">

				<div class="product-option-values product-card-option-values">

					{% for value in option.values %}

					<div class="product-option-value product-card-option-value js-product-card-option-value{% if value == default_option1 or value == default_option2 or value == default_option3 %} active-value{% endif %}{% if value == default_color %} selected-value{% endif %}"
					data-product-option-value="{{ value }}"
					{% if is_color_option %}
					style="background:url({{ swatch_src_array[forloop.index0] }}) no-repeat center center; background-size: cover;"
					{% endif %}
					>{{ value }}</div>

					{% endfor %}

				</div>

			</div>


			{% endif %}

		{% endfor %}

		</div>

	</div>


	
</div>
