
<div class="product-shop-details">


	{% comment %}

	Product Title

	{% endcomment %}

	<h1 class="product-shop-title">{{ product.title }}</h1>

	{% comment %}

	Product Price

	{% endcomment %}

	<div class="product-shop-price">{{ product_price }}</div>


	{% comment %}

	Product Description

	{% endcomment %}

	<div class="product-shop-description">{{ product.description }}</div>

	{% comment %}

	Product Options

	{% endcomment %}

	{% unless has_only_default_variant %}

		<div class="product-options product-shop-options">

		{% for option in product.options_with_values %}

			{% assign is_color_option = false %}
			{% assign option_name_handle = option.name | handle %}
	        {% if option_name_handle == color_option_name_handle %}
	            {% assign is_color_option = true %}
	        {% endif %}

			<div class="product-option product-shop-option">

				<div class="product-option-name product-shop-option-name">{{ 'product.option_label' | t: option_name: option.name }}</div>

				<div class="product-option-values product-shop-option-values">

					{% for value in option.values %}

					{% assign value_unavailable = false %}

					{% if options_length == 1 %}

					{% for variant in product.variants %}
						{% if variant.option1 == value and variant.available == false %}
							{% assign value_unavailable = true %}
							{% break %}
						{% endif %}
					{% endfor %}

					{% endif %}

					<div class="product-option-value product-shop-option-value js-product-shop-option-value{% if value == default_option1 or value == default_option2 or value == default_option3 %} active-value{% endif %}{% if value == default_color %} selected-value{% endif %}{% if value_unavailable %} unavailable-value{% endif %}"
					data-product-options-size="{{ product.options.size }}"
					data-product-option-position="{{ option.position }}"
					data-is-color-option-value="{{ is_color_option }}"
					data-product-option-value="{{ value }}"
					data-add-to-cart-js-class="{{ product_add_to_cart_js_class }}"
					data-back-in-stock-js-class="{{ product_back_in_stock_js_class }}"
					{% if is_color_option %}
					style="background:url({{ swatch_src_array[forloop.index0] }}) no-repeat center center; background-size: cover;"
					{% endif %}
					><span>{{ value }}</span></div>

					{% endfor %}

				</div>


			</div>

		{% endfor %}

		</div>

	{% endunless %}


	{% comment %}

	Product Back In Stock Field

	{% endcomment %}

	<div class="product-shop-back-in-stock-field{% unless has_only_default_variant and default_variant.available %} display-none{% endunless %}">
		<input
		type="email"
		placeholder="Enter Your Email"
		{% if customer %}value="{{ customer.email }}"{% endif %}
		class="product-shop-back-in-stock-email block-fullwidth">
	</div>



	{% comment %}

	Product Button

	{% endcomment %}


	<button
	type="button"
	class="product-shop-add-to-cart {{ default_btn_js_class }} btn btn-solid block-fullwidth"
	{% if default_btn_disabled %}disabled{% endif %}
	data-product-id="{{ product.id }}"
	data-variant-id="{{ default_variant.id }}"
	data-add-to-cart-btn-text="{{ add_to_cart_btn_text }}"
	data-pre-order-btn-text="{{ pre_order_btn_text }}"
	data-sold-out-btn-text="{{ sold_out_btn_text }}"
	>{{ default_btn_text }}</button>






</div>