{% capture email_title %}Order Canceled{% endcapture %}
{% capture email_body %}
Order {{ name }} was canceled
{% case cancel_reason %}
{% when 'customer' %}
at your request
{% when 'inventory' %}
because we did not have enough stock to fulfill your order
{% when 'fraud' %}
because we suspect it is fraudulent
{% when 'other' %}
due to unforeseen circumstances
{% endcase %}
{% if financial_status == 'voided' %}
and your payment has been voided
{% elsif financial_status == 'refunded' %}
and your payment has been refunded
{% endif %}
.
{% endcapture %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">

    <style>

      @font-face {
      font-family: 'CentraleSansRegular';
      src: url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansRegular.eot?4434068821241664819');
      src: url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansRegular.eot?4434068821241664819') format('embedded-opentype'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansRegular.woff2?4434068821241664819') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansRegular.woff?4434068821241664819') format('woff'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansRegular.ttf?4434068821241664819') format('truetype'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansRegular.svg?4434068821241664819#CentraleSansRegular') format('svg');
      }

      @font-face {
      font-family: 'CentraleSansMedium';
      src: url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansMedium.eot?8163409915392125424');
      src: url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansMedium.eot?8163409915392125424') format('embedded-opentype'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansMedium.woff2?8163409915392125424') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansMedium.woff?8163409915392125424') format('woff'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansMedium.ttf?8163409915392125424') format('truetype'),
      url('https://cdn.shopify.com/s/files/1/2172/3321/files/CentraleSansMedium.svg?8163409915392125424#CentraleSansMedium') format('svg');
      }


 
      *,
      *:after,
      *:before {
          margin: 0;
          padding: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }

      .body {
          font-family: 'CentraleSansMedium';
          font-size: 12px;
          line-height: 1.42857143;
          text-transform: uppercase;
          word-wrap: break-word;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-rendering: optimizeLegibility;
          text-size-adjust: 100%;
          color: #000;

          max-width: 640px !important;
          padding-left: 15px !important;
          padding-right: 15px !important;
          margin: auto !important;
          
      }

      img{
        display: block;
        width: 100%;
      }


      a {
          color: inherit;
          text-decoration: none;
      }


      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
      }

      p {
          margin: 0;
          padding: 0;
      }

      table {
          width: 100%;
          border-spacing: 0;
      }


      th {
          font-weight: inherit;
          text-align: left;
      }

      td{
        vertical-align: top;
      }
    
    .spacer{
      display: none;
    }


    .section{
      margin-bottom: 30px;
    }
    .email-body__cell{
      text-align: center;
    }
    .order-info__cell{
      text-align: center;
    }  

    .order-info__address-cell{
      width: 40%;
    }

    .order-info__number-cell{
      width: 30%;
    }

    .order-info__date-cell{
      width: 30%;
    }



    .order-list__cell{
      padding-bottom: 20px;
    }

    .order-list__product-image-cell{
      width: 200px;
    }

    .order-list__product-description-cell{
      padding-left: 15px;
    }


    .subtotal-line__title{
      width: 200px;
    }

    .subtotal-line__value{
      padding-left: 15px;
    }
    .social_cell{
      text-align: center;
    }
    .social_cell a{
      display: inline-block;
      width: 15px;
      margin: 30px 10px 20px;
    }


    </style>
  </head>
  <body>
    <table class="body">
      <tr>
        <td>

          <table class="section">
            <tr>
              <td class="">
                <img src="https://cdn.shopify.com/s/files/1/2172/3321/files/order_canceled.jpg?13924616492811208405" width="100%">
              </td>
            </tr>
          </table>



          <table class="section">
            <tr>
              <td class="email-body__cell">
                <p>{{ email_body }}</p>
              </td>
            </tr>
          </table>



          <table class="section">
            {% for line in line_items %}
            <tr>
              <td class="order-list__cell">
                <table>
                  <td class="order-list__product-image-cell" style="">
                    {% if line.image %}
                    <img src="{{ line | img_url: '150x' }}" align="left" class="order-list__product-image"/>
                    {% endif %}
                  </td>
                  <td class="order-list__product-description-cell" style="">
                    {% if line.product.title %}
                    {% assign line_title = line.product.title %}
                    {% else %}
                    {% assign line_title = line.title %}
                    {% endif %}
                    {% if line.quantity < line.quantity %}
                    {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
                    {% else %}
                    {% assign line_display = line.quantity  %}
                    {% endif %}
                    <span class="order-list__item-title">{{ line_title }}</span><br/>
                    {% if line.variant.title != 'Default Title' %}
                    <span class="order-list__item-variant">{{ line.variant.title }}</span>
                    <p class="order-list__item-qty">{{ line_display }}</p>
                    {% endif %}
                    {% if line.original_line_price != line.line_price %}
                    <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del>
                    {% endif %}
                    <p class="order-list__item-price">{{ line.line_price | money }}</p>
                  </td>

                </table>
              </td>
            </tr>
            {% endfor %}
          </table>

         <table class="section">
            <tr>
              <td class="subtotal-spacer"></td>
              <td>
                <table class="row subtotal-table">
                  {% if discounts %}
                  {% capture discount_title %}Discount {% if discounts.first.code %}({{ discounts.first.code }}){% endif %}{% endcapture %}
                  <tr class="subtotal-line">
                    <td class="subtotal-line__title">
                      <p>
                        <span>{{ discount_title }}</span>
                      </p>
                    </td>
                    <td class="subtotal-line__value">
                      {{ discounts_savings | money }}
                    </td>
                  </tr>
                  {% endif %}
                  <tr class="subtotal-line">
                    <td class="subtotal-line__title">
                      <p>
                        <span>Subtotal</span>
                      </p>
                    </td>
                    <td class="subtotal-line__value">
                      {{ subtotal_price | money }}
                    </td>
                  </tr>
                  <tr class="subtotal-line">
                    <td class="subtotal-line__title">
                      <p>
                        <span>Shipping</span>
                      </p>
                    </td>
                    <td class="subtotal-line__value">
                      {{ shipping_price | money }}
                    </td>
                  </tr>
                  {% for line in tax_lines %}
                  <tr class="subtotal-line">
                    <td class="subtotal-line__title">
                      <p>
                        <span>{{ line.title }}</span>
                      </p>
                    </td>
                    <td class="subtotal-line__value">
                      {{ line.price | money }}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                <table class="row subtotal-table subtotal-table--total">
                  <tr class="subtotal-line">
                    <td class="subtotal-line__title">
                      <p>
                        <span>Total</span>
                      </p>
                    </td>
                    <td class="subtotal-line__value">
                      {{ total_price | money }}
                    </td>
                  </tr>
                </table>
                {% assign transaction_size = 0 %}
                {% for transaction in transactions %}
                {% unless transaction.kind == "capture" or transaction.kind == "void" %}
                {% assign transaction_size = transaction_size | plus: 1 %}
                {% endunless %}
                {% endfor %}
                {% if transaction_size > 1 %}
                <table class="row subtotal-table">
                  <tr>
                    <td colspan="2" class="subtotal-table__line"></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="subtotal-table__small-space"></td>
                  </tr>
                  {% for transaction in transactions %}
                  {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
                  {% if transaction.payment_details.credit_card_company %}
                  {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (ending in {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
                  {% else %}
                  {% capture transaction_name %}{{ transaction.gateway | replace: "_", " " | capitalize }}{% endcapture %}
                  {% endif %}
                  <tr class="subtotal-line">
                    <td class="subtotal-line__title">
                      <p>
                        <span>{{transaction_name}}</span>
                      </p>
                    </td>
                    <td class="subtotal-line__value">
                      {{ transaction.amount | money }}
                    </td>
                  </tr>
                  {% endif %}
                  {% if transaction.kind == 'refund' %}
                  {% if transaction.payment_details.credit_card_company %}
                  {% assign refund_method_title = transaction.payment_details.credit_card_company %}
                  {% else %}
                  {% assign refund_method_title = transaction.gateway %}
                  {% endif %}
                  <tr class="subtotal-line">
                    <td class="subtotal-line__title">
                      <p>
                        <span>Refund</span>
                        <br>
                        <span>{{ refund_method_title | capitalize }}</span>
                      </p>
                    </td>
                    <td class="subtotal-line__value">
                      - {{ transaction.amount | money }}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </table>
                {% endif %}
              </td>
            </tr>
          </table>


          <table class="section">
            <tr>
              <td class="social_cell">
                <a href="https://www.facebook.com/patbobrand/">
                  <img src="https://cdn.shopify.com/s/files/1/2172/3321/files/facebook-logo.png?14345928622906201742">
                </a>
                <a href="https://www.instagram.com/patbo_us/">
                  <img src="https://cdn.shopify.com/s/files/1/2172/3321/files/instagram-symbol.png?14345928622906201742">
                </a>
              </td>
            </tr>
          </table>





          <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

        </td>
      </tr>
    </table>
  </body>
</html>